    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    header {
        background-color: #f0f0f0;
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 200px;
    }
    
    header .logo {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.8em;
    }
    
    header .navi a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 1em;
        padding-left: 30px;
    }
    
    .navi a:hover {
        color: blue;
    }
    
    section {
        padding: 100px 200px;
    }
    
    .main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: url(img/mainBackGround.webp) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    
    .main h2 {
        color: #fff;
        font-size: 1.4em;
        font-weight: 500;
    }
    
    .main h2 span {
        display: inline-block;
        margin-top: 10px;
        color: #2f92fc;
        font-size: 2.7em;
        font-weight: 600;
    }
    
    .main h3 {
        color: #fff;
        font-size: 1.9em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    .main-btn {
        text-decoration: none;
        background-color: #2f92fc;
        color: #fff;
        font-size: 1.1em;
        font-weight: 600;
        display: inline-block;
        padding: .9375em 2.1875em;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        letter-spacing: 1px;
        margin-bottom: 40px;
        transition: 0.7s ease;
        -webkit-transition: 0.7s ease;
        -moz-transition: 0.7s ease;
        -ms-transition: 0.7s ease;
        -o-transition: 0.7s ease;
    }
    
    .main-btn:hover {
        background-color: #0a49f6;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    
    .social-icon a {
        color: #fff;
        font-size: 1.7em;
        padding-right: 30px;
    }
    
    .title {
        display: flex;
        justify-content: center;
        color: #2f92fc;
        font-size: 2.2em;
        font-weight: 800;
        margin-bottom: 30px;
    }
    
    .content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .card {
        background-color: #fff;
        width: 21.25em;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 25px;
        margin: 15px;
        transition: 0.7s ease;
        -webkit-transition: 0.7s ease;
        -moz-transition: 0.7s ease;
        -ms-transition: 0.7s ease;
        -o-transition: 0.7s ease;
    }
    
    .card:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    
    .icon {
        color: #2f92fc;
        font-size: 8em;
        text-align: center;
    }
    
    .info {
        text-align: center;
    }
    
    .info h3 {
        color: #2f92fc;
        font-size: 1.2em;
        font-weight: 700;
        margin: 10px;
    }
    
    .skills {
        background-color: #000016;
    }
    
    .skills .content {
        margin-top: 30px;
        display: flex;
    }
    
    .skill-card {
        background-color: #fff;
        border: 1px solid #fff;
        min-height: 14em;
        width: 23em;
        overflow: hidden;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin: 20px;
        transition: 0.7s ease;
        -webkit-transition: 0.7s ease;
        -moz-transition: 0.7s ease;
        -ms-transition: 0.7s ease;
        -o-transition: 0.7s ease;
    }
    
    .skill-card:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    
    .skill-image img {
        width: 100%;
    }
    
    .skill-card:hover .skill-image {
        opacity: 0.9;
    }
    
    .skill-info {
        padding: 1em;
    }
    
    .skill-category {
        font-size: .8em;
        color: black;
    }
    
    .skill-title {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: 800;
        margin-top: 10px;
    }
    
    .contact .icon {
        font-size: 4.5em;
    }
    
    .contact .info h3 {
        color: black;
    }
    
    .sendmail {
        text-decoration: none;
        font-size: 1em;
        font-weight: 500;
        color: black;
    }
    
    .contact .info p {
        font-size: 1em;
        font-weight: 500;
    }
    
    .footer {
        background-color: #000016;
        color: #fff;
        padding: 2em;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-title {
        font-size: 1.3em;
        font-weight: 600;
    }
    
    .footer-title span {
        color: #2f92fc;
    }
    
    .footer .social-icon a {
        font-size: 1.3em;
        padding: 0 12px 0 0;
    }
    /*Design for multi size*/
    
    @media (max-width:1023px) {
        header {
            padding: 12px 20px;
        }
        .navi a {
            padding-left: 10px;
        }
        .title {
            font-size: 1.8em;
        }
        section {
            padding: 80px 20px;
        }
        .main-content h2 {
            font-size: 1em;
        }
        .main-content h3 {
            font-size: 1.6em;
        }
        .content {
            flex-direction: column;
            align-items: center;
        }
    }
    
    @media (max-width:641px) {
        body {
            font-size: 12px;
        }
        .main-content h2 {
            font-size: .8em;
        }
        .main-content h3 {
            font-size: .8em;
        }
    }
    
    @media (max-width:300px) {
        body {
            font-size: 10px;
        }
    }